@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 360px;
  --breakpoint-smmd: 412px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  overscroll-behavior: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/Agraham.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#hero-heading {
  font-family: "MyCustomFont", sans-serif;
  line-height: 100px;
  text-shadow: 0px 2px 5px rgb(0, 0, 0); /* main "inner" shadow */
}

.noisy {
  @apply absolute inset-0  bg-[url("/heroImg.jpg")] -z-20 w-full h-full bg-cover bg-center bg-no-repeat brightness-20;
}

.active {
  background: #706e6e;
  border: none;
  color: #fff;
}